{% extends 'base.html' %} {% block content %}
<div class="selling">
  <div class="container-fluid body-container">
    <div class="sellingForm">
      <form action="#">
        <!-- create a form with input text for bookname short book name subject code instituteName city buying price actuall price branch sem publication rating -->
        <div class="form-group my-2">
          <label for="bookName">Book Name</label>
          <input
            type="text"
            class="form-control"
            id="bookName"
            placeholder="Enter Book Name"
          />
        </div>
        <div class="form-group my-2">
          <label for="shortBookName">Short Book Name</label>
          <input
            type="text"
            class="form-control"
            id="shortBookName"
            placeholder="Enter Short Book Name"
          />
        </div>
        <div class="form-group my-2">
          <label for="subjectCode">Subject Code</label>
          <input
            type="text"
            class="form-control"
            id="subjectCode"
            placeholder="Enter Subject Code"
          />
        </div>
        <div class="form-group my-2">
          <label for="instituteName">Institute Name</label>
          <input
            type="text"
            class="form-control"
            id="instituteName"
            placeholder="Enter Institute Name"
          />
        </div>
        <div class="form-group my-2">
          <label for="city">City</label>
          <input
            type="text"
            class="form-control"
            id="city"
            placeholder="Enter City"
          />
        </div>
        <div class="form-group my-2">
          <label for="buyingPrice">Buying Price</label>
          <input
            type="text"
            class="form-control"
            id="buyingPrice"
            placeholder="Enter Buying Price"
          />
        </div>
        <div class="form-group my-2">
          <label for="actualPrice">Actual Price</label>
          <input
            type="text"
            class="form-control"
            id="actualPrice"
            placeholder="Enter Actual Price"
          />
        </div>
        <div class="form-group my-2">
          <label for="branch">Branch</label>
          <input
            type="text"
            class="form-control"
            id="branch"
            placeholder="Enter Branch"
          />
        </div>
        <div class="form-group my-2">
          <label for="sem">Sem</label>
          <input
            type="text"
            class="form-control"
            id="sem"
            placeholder="Enter Sem"
          />
        </div>
        <div class="form-group my-2">
          <label for="publication">Publication</label>
          <input
            type="text"
            class="form-control"
            id="publication"
            placeholder="Enter Publication"
          />
        </div>
        <div class="form-group my-2">
          <div class="container">
            <span id="rateMe2" class="empty-stars"></span>
          </div>

          <!-- rating.js file -->
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
</div>
{% endblock content %}
